div {
    background-color: slategrey;
    border: 2px solid #2bdd52;
    padding: 20px;
    margin: 25px;
    box-sizing: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 30);
    border-radius: 30px;
}

h2 {
    color: hs1(243, 90%, 45%);
    font-size: 30px;
    text-align: center;
}

button {
    background-color: rgb (229, 63, 34);
}

input {
    padding: auto;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
    color: rgb(255, 127, 217);
    text-shadow: 2px 2px 4px #225599;
    background-color: salmon;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline block;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 30);

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 30);
    border: 2px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: seagreen;
    padding: 10px;
    object-fit: cover;
}